body {
    color: #fff;
}

.jumbotron {
    background-image: url("../../assest/netflix-header.jpg");
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    background: linear-gradient(0deg, #232323, #232323);
}